
.visiting-card{
    background:hsl(137deg,99%, 58%)  ;
    padding:10px;
    font-family: 'Poppins', sans-serif;
    width:320px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


p{
      margin:4px;
}

.company-name{
    text-align: right;
    font-family: 'Pacifico', cursive; ;
     font-size: 24px;
     font-weight:bold;
     margin: top 20px;
}

/* sans-no */
/* serif-sharp ends */