/* element selector */
/* p{
    color: darkred;
} */

/* classes stars with dot */
/* .main-quote{ 
    color:purple;
    font-size: 48px;
    font-weight:bold;

} */
/* id starts with # */

/* #cool{
    color: teal;
} */