.box{
    height: 300px;
    width: 300px;
    background:orange;
    transition: 0.2s;     
    /* border-radius:50%; */
}
/* pseudo class:hover : mouse over */
/* selector:hover */
.box:hover{
    /* double size */
    /* background:crimson;
    transform:scale(2) rotate(360deg);
    border-radius:50%; */
    transform:scale(1.1);
    cursor:pointer;
}
/* mouse click */
.box:active{
    background:teal;
    transform:scale(0.8);
}


a:hover{
    color:crimson;
}

a:active{
    color:coral;
}
a:visited{
    color:aqua;
}
/* tab */
a:focus{
    color:green;
    font: size 20px;
}
body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    color:rgb(70, 43, 90);
    /* font-weight: bold;
    font-size: 20px;
    text-transform: uppercase; */
    /* above styles gets inherited to paragraph(child) */
    border:2px solid teal;
    margin=0;

}
 
/* combinators-relation between selector */
 /* >-child selector/combinators */
/* selector1>selector2----id,class,element */

 /* .container>p{
     border:2px solid crimson;
 } */

/* <space>-ancestor combinator selector/combinator */

/* .container p {
    border:2px solid rgb(32, 5, 11);
} */

 /* +  -> next sibiling combinator */
/* .middle + p {

    border:2px solid lawngreen;
} */

/* next to next */
/* .middle + p + p {

    border:2px solid rgb(252, 227, 0);
} */

/* ~  next all sibiling selector */
.middle ~ p {

    border:2px solid lawngreen;
}